<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
<% if ( user ) { %>
    <h2>Hello <%=user%> </h2>
    <a href="/logout">Logout</a>
<% } else { %>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
<% } %>
</body>
</html>
